header {
  background: linear-gradient(to right, #edc8ff, white);
  border-bottom: 3px solid black;
  text-align: center;
}

nav {
  background: linear-gradient(to right, #edc8ff, white);
  color: black;
  display: flex;
  justify-content: center;
  gap: 2em;
  margin: 1em 0;
  font-weight: bold;
  border-bottom: 3px solid black;
}
body {
  background: linear-gradient(to right, #edc8ff, white);
  font-family: papyrus;
  color: black;
}

h1 {
  font-size: 35px;
}

p {
  font-size: 21px;
  width: 600px;
}

footer {
  border-top: 3px solid black;
  text-align: center;
}

img {
  text-align: center;
}
