header {
  background: linear-gradient(to right, lilac, pink);
  border-bottom: 10px solid lilac;
  text-align: center;
}

nav {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  gap: 2em;
  margin: 1em 0;
}
body {
  background: linear-gradient(to right, lilac, pink);
  font-family: papyrus;
  color: white;
}

img {
  text-align: center;
}

p {
  font-size: 21px;
}

footer {
  border-top: 10px solid lilac;
  text-align: center;
}
